.invoice{
    background: url('https://res.cloudinary.com/pruebasmern/image/upload/v1648547867/Fondo_u92gpj.png');
    min-height: 80vh;
    padding-bottom: 1%;
}
.invoice-item{
    background-color: white;
    color: black;
}
.invoice-c{
    background: url('https://res.cloudinary.com/pruebasmern/image/upload/v1648547867/Fondo_u92gpj.png');
    min-height: 10vh;
    padding-bottom: 1%;
    padding-top: 1%;
}