
  
  .modal_cart_modal {
    position: fixed;
    top: 30vh;
    margin: auto;
    left: 11rem;

  }
  
  @media (min-width: 768px) {
    .modal_cart_modal {
      left: calc(50% - 1rem);
    }
  }
  
  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }